/* COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới.
3. Từ tổng quan đến chi tiết. */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng, font 
 */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Montserrat, sans-serif;
    left: 0;
    right: 0;
    top: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    line-height: 1.5;
    color:#343434;
    /* min-width: 800px; */
}

/* Heading -------------------------------- */
header, footer {
    text-align: center;
}

section, div {
    display: block;
}

header {
    background: #2f3061;
    color: #F7FFF7;
    margin-top: 46px;
}

header p {
    margin: 15px 0;
}

header .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #343434;
    height: 46px;
    text-align: left;
}

.nav {
    display: inline-block;
}

.nav > li {
    display: inline-block;
}

.nav .navigation li{
    display: inline-block;
    line-height: 46px;
    text-transform: uppercase;
}

.navigation > li > a {
    padding: 0 24px;
    color:white;
    text-decoration: none;
    display: inline-block   ;
}

.navigation li:hover a {
    background-color: #ccc;
    color:black;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 42px;
}

h1, h2 {
    font-weight: 400;
    font-family: 'Caveat', cursive;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

img {
    width: 300px;
    height: 220px;
    
}

.content-wrap {
    margin: 0 200px;
    padding: 60px 0;
}

.project .content-wrap ,
.education .content-wrap,
.work-experience .content-wrap{
    margin: 0 200px;
    padding: 60px 0;
}

/* <!-- PROJECT / PORTFOLIO --------------------- --> */
.project {
    background: lightgoldenrodyellow;
}


.project-item, section.job-item:first-of-type {
    border-bottom: 1px dashed #343434;
    padding: 15px 0;
    overflow: hidden;
}

.project-item img {
    margin-right: 20px;
    float: left;
}

 .btn {
    padding: 8px;
    color: #F7FFF7;
    background: #2f3061;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;

}



.divider > section:last-of-type,
.work-experience > section:last-of-type {
    border-bottom: none;
}

/* WORK EXPERIENCE ********************** */
.work-experience {
    background: #a1c6d7;
}

.job-item div:last-of-type {
    margin: 15px 0;
}


.job-detail > p:first-of-type, 
.education section p:first-of-type {
    font-style: italic;
}

/* EDUCATION ************** */
.education {
    background-image: url(/PJ/img/joanna-kosinska-unsplash.jpg);
    background-size: cover;
}

/* FOOTER ****************** */
footer {
    background: #343434;
    color: #F7FFF7;
    display: block;
    height: 300px;
}

footer .content-wrap > div {
    min-width: 600px;
    margin-top: 40px;
}


.contact-list {
    list-style-type:none;
    display: inline-flex;
}

.contact-list ul {
    width: 100%;
}

.contact-list li a {
    color: #ffe66d;
    padding: 24px 20px;
}

.contact-list li a:hover {
    text-decoration: none;
}


.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
   background-color: rgba(0, 0, 0, 0.4);
   align-items: center;
   display: none;
}

.modal .modal-container {
    width: 900px;
    position: relative;
    background-color: white;
}

.modal-close {
position: absolute;
right: 0;
top: 0;
padding: 8px 12px;
color: white;
opacity: 0.8;
}

.modal-close:hover {
    color: black;
    opacity: 1;
    background-color: #ccc;
    cursor: pointer;
}

.modal-header {
    background-color: orange;
    font-size: 30px;
    padding: 48px;
    margin: 0;
}

.modal-header .modal-label {
    text-transform: uppercase;
    color: black;
}

.modal-header .head-icon {
    font-size: 50px;
    padding: 0 12px;
}

.modal-body {
    background-color: white;
    padding: 15px;

}

.modal-body-item {
    display: block;
    font-size: 15px;
}


.modal-item-input {
    width: 100%;
    padding: 8px;
    margin:  12px 0 16px;
}

.modal-submit-icon {
    width: 100%;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #2f3061;
    color: white;
    padding: 12px 0;
    border-radius: 4px;
}

.modal-submit-icon:hover {
    background-color: #4b4b94;
    cursor: pointer;
}

.modal-footer {
    height: 50px;
    background-color: white;
    color: black;
    text-align: right;
    margin-right: 16px;
}





